configs/n8n/workflows/multi-agent-workflow.json
{
  "name": "multi-agent-workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -384,
        -608
      ],
      "id": "e33d1dda-f4a2-406f-bdd1-5ebc9f5f2cf9",
      "name": "Telegram Trigger",
      "webhookId": "23fdaf07-250f-4afb-875c-c7eff54e5dfe",
      "credentials": {
        "telegramApi": {
          "id": "nmOsCFPvXI0BQU8Y",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        128,
        -176
      ],
      "id": "1475e8cd-c06c-4fe1-ace9-c91a6b98e688",
      "name": "Send a text message",
      "webhookId": "743dbd56-b167-4770-8e56-30793300166b",
      "credentials": {
        "telegramApi": {
          "id": "nmOsCFPvXI0BQU8Y",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "ОТВЕЧАЙ ТОЛЬКО НА РУССКОМ ЯЗЫКЕ. ИСПОЛЬЗУЙ ТОЛЬКО КИРИЛЛИЦУ.\nЗАПРЕЩЕНО использовать латиницу, китайские иероглифы, английские слова.\nФормат ответа — ТОЛЬКО план на русском языке.\n\nТы — финансовый аналитик и ассистент финансового контроллера.\nТвоя роль: проанализировать запрос пользователя и составить чёткий план ответа.\n\nТвои компетенции:\n- Бюджетирование и финансовое планирование\n- Контроль затрат и анализ отклонений\n- Финансовая отчётность (P&L, Balance Sheet, Cash Flow)\n- Управленческий учёт\n- Прогнозирование и финансовое моделирование\n\nПравила:\n1. Если запрос связан с финансами — составь план из 3-5 пунктов\n2. Если запрос не по теме — составь план вежливого отказа с предложением помочь по финансовым вопросам\n3. Если это приветствие — составь план краткого представления и предложения помощи\n\nФормат ответа (СТРОГО):\nПЛАН:\n1. [Пункт 1 на русском]\n2. [Пункт 2 на русском]\n..."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "={{ $json.message.text }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -176,
        -608
      ],
      "id": "4eaa6cfb-00eb-4dea-972b-0d731c94bbc7",
      "name": "Manager"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "ОТВЕЧАЙ ТОЛЬКО НА РУССКОМ ЯЗЫКЕ. ИСПОЛЬЗУЙ ТОЛЬКО КИРИЛЛИЦУ.\nЗАПРЕЩЕНО использовать латиницу, китайские иероглифы, английские слова.\nЕсли не можешь ответить по-русски — напиши \"Извините, я могу отвечать только на русском языке\".\n\nТы — профессиональный ассистент финансового контроллера.\nТвоё рабочее имя — ФинАссистент.\n\nТвои компетенции:\n- Бюджетирование и финансовое планирование\n- Контроль затрат и анализ отклонений\n- Финансовая отчётность (P&L, Balance Sheet, Cash Flow)\n- Управленческий учёт\n- Прогнозирование и финансовое моделирование\n\nТвоя задача:\n1. Напиши профессиональный, чёткий ответ, строго следуя плану\n2. Используй корректную финансовую терминологию\n3. Если вопрос не по финансам — вежливо укажи на свою специализацию\n\nПлан для ответа:\n{{ $json.text }}\n\nИсходный запрос пользователя:\n{{ $('Telegram Trigger').item.json.message.text }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -176,
        -384
      ],
      "id": "0552d0a3-5c45-49b3-a36c-d5264e0c59b3",
      "name": "Worker"
    },
    {
      "parameters": {
        "model": "qwen2.5:7b-instruct-q4_K_M",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -176,
        -512
      ],
      "id": "20e951ed-5add-4ec4-b667-503e33409211",
      "name": "Ollama Chat Manager",
      "credentials": {
        "ollamaApi": {
          "id": "J8uainAP3VchWnHP",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen2.5:7b-instruct-q4_K_M",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -176,
        -272
      ],
      "id": "a37c4823-e7de-453e-a730-a2e520d05c21",
      "name": "Ollama Chat Worker",
      "credentials": {
        "ollamaApi": {
          "id": "J8uainAP3VchWnHP",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Исправь орфографические и пунктуационные ошибки в тексте. Не меняй смысл и стиль. Выдай только исправленный текст.",
        "messages": {
          "messageValues": [
            {
              "message": "=ОТВЕЧАЙ ТОЛЬКО НА РУССКОМ ЯЗЫКЕ. ИСПОЛЬЗУЙ ТОЛЬКО КИРИЛЛИЦУ.\n\nТы — профессиональный корректор русского языка.\n\nТВОЯ ЕДИНСТВЕННАЯ ЗАДАЧА:\nИсправить орфографические, пунктуационные и синтаксические ошибки в тексте.\n\nЖЁСТКИЕ ПРАВИЛА:\n1. НЕ меняй смысл текста\n2. НЕ добавляй новую информацию\n3. НЕ перефразируй предложения\n4. НЕ улучшай стиль\n5. НЕ добавляй комментарии \"исправлено\", \"ошибки:\" и т.д.\n6. НЕ пиши \"Текст исправлен:\" или подобные фразы\n7. Выдай ТОЛЬКО исправленный текст, и ничего больше\n\nЕсли ошибок нет — выдай текст БЕЗ ИЗМЕНЕНИЙ, без комментариев.\n\nТекст для проверки:\n{{ $json.text }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -176,
        -176
      ],
      "id": "aeb3cdc0-c1d1-48b1-b2c1-9ed5497cb01c",
      "name": "Corrector"
    },
    {
      "parameters": {
        "model": "qwen2.5:1.5b-instruct-q4_K_M",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -176,
        -80
      ],
      "id": "8991a7fe-ef34-4971-adf3-68dfe2468e92",
      "name": "Ollama Chat Corrector",
      "credentials": {
        "ollamaApi": {
          "id": "J8uainAP3VchWnHP",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager": {
      "main": [
        [
          {
            "node": "Worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Worker": {
      "main": [
        [
          {
            "node": "Corrector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Manager": {
      "ai_languageModel": [
        [
          {
            "node": "Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Worker": {
      "ai_languageModel": [
        [
          {
            "node": "Worker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Corrector": {
      "ai_languageModel": [
        [
          {
            "node": "Corrector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Corrector": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0b96745d-c433-4fc5-97be-232f7a71bcbe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ada5bffac26132224180e7ae95041d80fdc3d37610db6f3137c83ce8199900d3"
  },
  "id": "RwWJts84fHtXdBCU",
  "tags": []
}